body {
    background-image: url('/images/Fotoram.io.jpg');	
    background-position: top left;	
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

table {
    word-wrap: break-word;
}
